<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)

In [36]:
# Your code here

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
import re

Download the webpage at the url

In [6]:
#your code goes here

# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

Create a soup object

In [8]:
#your code goes here

soup = BeautifulSoup(data,"html5lib")

Scrape the `Language name` and `annual average salary`.

In [80]:
cols=["Language Name", "Average Annual Salary"] 
popular_languages = pd.DataFrame(columns=cols)

for row in soup.find("tbody").find_all('tr'): 
    col = row.find_all("td") 
    if (col != []):
        language = col[1].text.strip()
        avg_annual_salary= "".join(re.findall(r'[\d+.\d+]', col[3].text.strip()))
        if len(avg_annual_salary)>0:
            popular_languages= popular_languages.append({"Language Name":language, "Average Annual Salary":avg_annual_salary}, ignore_index=True)


popular_languages["Average Annual Salary"] = popular_languages["Average Annual Salary"].astype("float")
popular_languages

  Language Name  Average Annual Salary
0        Python               114383.0
1          Java               101013.0
2             R                92037.0
3    Javascript               110981.0
4         Swift               130801.0
5           C++               113865.0
6            C#                88726.0
7           PHP                84727.0
8           SQL                84793.0
9            Go                94082.0

Save the scrapped data into a file named *popular-languages.csv*

In [82]:
# your code goes here
popular_languages.to_csv('popular-languages.csv',header=True,index=False)

In [86]:
popular_languages.sort_values(by=['Average Annual Salary'],ascending=False,ignore_index=True)

  Language Name  Average Annual Salary
0         Swift               130801.0
1        Python               114383.0
2           C++               113865.0
3    Javascript               110981.0
4          Java               101013.0
5            Go                94082.0
6             R                92037.0
7            C#                88726.0
8           SQL                84793.0
9           PHP                84727.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).