<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here

df.duplicated().sum()

154

In [4]:
# Show duplicates
df[df.duplicated()]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1169,2342,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
1170,2343,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Neither easy nor difficult
1171,2344,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1172,2347,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,Biracial,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,4674,"I am not primarily a developer, but I write co...",Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Bangladesh,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;Hispanic or Latino...,Yes,Too long,Neither easy nor difficult
2298,4675,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
2299,4676,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat less welcome now than last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
2300,4677,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,NaN,40.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
2301,4679,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here

df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
df.duplicated().sum()

0

In [30]:
df.shape

(11398, 87)

## Finding Missing values

Find the missing values for all columns.

In [7]:
# your code goes here

[(col,df[col].isnull().sum()) for col in list(df.columns)]

[('Respondent', 0),
 ('MainBranch', 0),
 ('Hobbyist', 0),
 ('OpenSourcer', 0),
 ('OpenSource', 81),
 ('Employment', 0),
 ('Country', 0),
 ('Student', 51),
 ('EdLevel', 112),
 ('UndergradMajor', 737),
 ('EduOther', 164),
 ('OrgSize', 96),
 ('DevType', 65),
 ('YearsCode', 9),
 ('Age1stCode', 13),
 ('YearsCodePro', 16),
 ('CareerSat', 0),
 ('JobSat', 1),
 ('MgrIdiot', 493),
 ('MgrMoney', 497),
 ('MgrWant', 493),
 ('JobSeek', 0),
 ('LastHireDate', 0),
 ('LastInt', 413),
 ('FizzBuzz', 37),
 ('JobFactors', 3),
 ('ResumeUpdate', 39),
 ('CurrencySymbol', 0),
 ('CurrencyDesc', 0),
 ('CompTotal', 809),
 ('CompFreq', 206),
 ('ConvertedComp', 816),
 ('WorkWeekHrs', 122),
 ('WorkPlan', 121),
 ('WorkChallenge', 164),
 ('WorkRemote', 8),
 ('WorkLoc', 32),
 ('ImpSyn', 5),
 ('CodeRev', 1),
 ('CodeRevHrs', 2426),
 ('UnitTests', 29),
 ('PurchaseHow', 196),
 ('PurchaseWhat', 38),
 ('LanguageWorkedWith', 11),
 ('LanguageDesireNextYear', 134),
 ('DatabaseWorkedWith', 453),
 ('DatabaseDesireNextYear', 1042),
 ('PlatformWorkedWith', 411),
 ('PlatformDesireNextYear', 544),
 ('WebFrameWorkedWith', 1393),
 ('WebFrameDesireNextYear', 1617),
 ('MiscTechWorkedWith', 2182),
 ('MiscTechDesireNextYear', 1455),
 ('DevEnviron', 29),
 ('OpSys', 34),
 ('Containers', 82),
 ('BlockchainOrg', 2322),
 ('BlockchainIs', 2610),
 ('BetterLife', 98),
 ('ITperson', 35),
 ('OffOn', 38),
 ('SocialMedia', 293),
 ('Extraversion', 20),
 ('ScreenName', 507),
 ('SOVisit1st', 325),
 ('SOVisitFreq', 5),
 ('SOVisitTo', 1),
 ('SOFindAnswer', 3),
 ('SOTimeSaved', 50),
 ('SOHowMuchTime', 1917),
 ('SOAccount', 1),
 ('SOPartFreq', 1128),
 ('SOJobs', 6),
 ('EntTeams', 5),
 ('SOComm', 0),
 ('WelcomeChange', 85),
 ('SONewContent', 1965),
 ('Age', 287),
 ('Gender', 73),
 ('Trans', 123),
 ('Sexuality', 542),
 ('Ethnicity', 675),
 ('Dependents', 140),
 ('SurveyLength', 19),
 ('SurveyEase', 14)]

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
# your code goes here

df["WorkLoc"].isnull().sum()

32

In [31]:
df["EdLevel"].isnull().sum()

112

In [32]:
df["Country"].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
# your code goes here

df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [33]:
df["Employment"].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [34]:
df["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [47]:
df["ConvertedComp"].value_counts()

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64

In [46]:
print("min: ", df["ConvertedComp"].min())
print("max: ", df["ConvertedComp"].max())
print("mode: ", df["ConvertedComp"].mode()[0])
print("mean: ", df["ConvertedComp"].mean())
print("median: ", df["ConvertedComp"].median())

min:  0.0
max:  2000000.0
mode:  2000000.0
mean:  131596.7316197316
median:  57745.0

Identify the value that is most frequent (majority) in the WorkLoc column.

In [19]:
#make a note of the majority value here, for future reference
#
WorkLoc_mode = df["WorkLoc"].mode()[0]
WorkLoc_mode

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [20]:
# your code goes here
df["WorkLoc"].fillna(value=WorkLoc_mode,inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [21]:
# your code goes here

df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [22]:
# your code goes here

df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [23]:
# your code goes here

df["CompFreq_val"]=df["CompFreq"] # copy column to a new one
df["CompFreq_val"].replace(to_replace="Yearly",value=1,inplace=True) # replcaing year with 1
df["CompFreq_val"].replace(to_replace="Monthly",value=12,inplace=True) # replacing month with 12
df["CompFreq_val"].replace(to_replace="Weekly",value=52,inplace=True) # replcaing week with 52

In [24]:
df["CompFreq_val"].value_counts()

1.0     6073
12.0    4788
52.0     331
Name: CompFreq_val, dtype: int64

In [26]:
df['NormalizedAnnualCompensation'] = df["CompTotal"] * df["CompFreq_val"]

In [48]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).